<<<<< dependabot/pip/flake8-7.2.0
black==24.3.0
flake8==7.2.0
=======
black==25.1.0
flake8==6.1.0
<<<<<< dependabot/pip/pytest-8.4.0
pytest==8.4.0
=======
>>>>> main
pytest==8.2.0
<<<<<< dependabot/pip/pre-commit-4.2.0
pre-commit==4.2.0
=======
>>>>>> main
pre-commit==3.5.0
>>>>>> main
pre-commit-hooks==4.5.0
